<!-- <div class="d-flex align-items-center justify-content-center homeCommon">
  <div class="container h-100 content">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="loginSec">
        <div class="headTitle my-4">
          <h1>Satsang login</h1>
        </div>
        <div class="inpSec">
          <form [formGroup]="loginForm">
            <div class="my-4">
              <label for="userId" class="form-label"
                >User id/phone/email*</label
              >
              <input
                type="text"
                class="form-control bg-dark text-white"
                id="userId"
                aria-describedby="user ID"
                formControlName="email"
                placeholder="Enter your credentials"
                required/>
                <div *ngIf="(logInFrms['email'].touched || loginFormSubmitted) && logInFrms['email'].errors" class="form-control-errors">
                  <p class="error-msg" *ngIf="logInFrms['email']['errors']['required']">This Field is required.</p>
              </div>
            </div>
            <div class="my-4">
              <label for="userPwd" class="form-label">Password*</label>
              <input
                type="password"
                class="form-control bg-dark text-white"
                id="userPwd"
                formControlName="password"
                placeholder="Enter your password"
                required/>
                <div *ngIf="(logInFrms['password'].touched || loginFormSubmitted) && logInFrms['password'].errors" class="form-control-errors">
                  <p class="error-msg" *ngIf="logInFrms['password']['errors']['required']">This Field is required.</p>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3 w-100" (click)="userLogin()" [ngClass]="{'brandBtn': loginForm.valid, 'brand-btn-hide': !loginForm.valid}">
              Login
            </button>
          </form>
          <div class="fgtPwd brandLink my-4 text-center">
            <a [routerLink]="['/reset']">Forgot Password?</a>
          </div>
        </div>
      </div>

      <div class="registerSec text-center">
        <div class="registerField">
          <p>Not registered with Satsang?</p>
          <div class="brandLink">
            <a [routerLink]="['/register']">Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- **********2nd part************* -->

<div class="divCenter">
  <div class="enterSec">
    <div class="headTitle">
      <h1>Satsang login</h1>
    </div>
    <div class="inpSecTwo">
      <form [formGroup]="loginForm" class="inpForm">
        <div class="inpFields">
          <label for="userId" class="form-label">User id/phone/email*</label>
          <input
            type="text"
            class="form-control bg-dark text-white"
            id="userId"
            aria-describedby="user ID"
            formControlName="email"
            placeholder="Enter your credentials"
            required
          />
          <div
            *ngIf="
              (logInFrms['email'].touched || loginFormSubmitted) &&
              logInFrms['email'].errors
            "
            class="form-control-errors"
          >
            <p
              class="error-msg"
              *ngIf="logInFrms['email']['errors']['required']"
            >
              This Field is required.
            </p>
          </div>
        </div>
        <div class="inpFields">
          <label for="userPwd" class="form-label">Password*</label>
          <input
            type="password"
            class="form-control bg-dark text-white"
            id="userPwd"
            formControlName="password"
            placeholder="Enter your password"
            required
          />
          <div
            *ngIf="
              (logInFrms['password'].touched || loginFormSubmitted) &&
              logInFrms['password'].errors
            "
            class="form-control-errors"
          >
            <p
              class="error-msg"
              *ngIf="logInFrms['password']['errors']['required']"
            >
              This Field is required.
            </p>
          </div>
        </div>
        <button type="submit" class="btn btnSub w-100" (click)="userLogin()">
          Login
        </button>
      </form>
      <div class="fgtPwd brandLink text-center">
        <a [routerLink]="['/reset']">Forgot Password?</a>
      </div>
    </div>
  </div>
  <div class="registerSec text-center">
    <div class="registerField">
      <p>Not registered with Satsang?</p>
      <div class="brandLink">
        <a [routerLink]="['/register']">Register Now</a>
      </div>
    </div>
  </div>
</div>
