<div class="d-flex align-items-center justify-content-center homeCommon">
  <div class="container h-100 content">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="loginSec">
        <div class="headTitle my-4">
          <h1>Create Account</h1>
        </div>
        <div class="inpSec">
          <form>
            <div class="my-4">
              <label for="userId" class="form-label">Family Code*</label>
              <input
                type="text"
                class="form-control bg-dark text-white"
                id="userId"
                aria-describedby="user ID"
                placeholder="Enter your family code"
              />
            </div>
            <div class="my-4">
              <label for="userPwd" class="form-label">Full name*</label>
              <input
                type="password"
                class="form-control bg-dark text-white"
                id="userPwd"
                placeholder="Enter your full name"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-3 w-100 brandBtn">
              Proceed
            </button>
          </form>
          <!-- <div class="fgtPwd brandLink my-4 text-center">
            <a href="#">Forgot Password?</a>
          </div> -->
        </div>
      </div>

      <div class="registerSec text-center">
        <div class="registerField">
          <p>Already registered with Satsang?</p>
          <div class="brandLink">
            <a [routerLink]="['/login']">Login Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
